name: r2

services:
  gateway:
    depends_on:
      - web
      - be
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8080:8080
  web:
    build: ./web
    image: r2-web
  be:
    build: ./be-low-level
    image: r2-be-rust
    depends_on:
      - redis
    environment:
      - REDIS_URL=redis://redis:6379
  redis:
    container_name: redis
    image: redis:7-alpine
    # Enable Append Only File for durability (AOF)
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

volumes:
  redis_data:
    driver: local
